* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: #EBF5EE;
    color : black;
}

header {
    background-color: #542344;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 10vh;
}

.container {
    background-color: #BFD1E5;
    color : black;
    height: 30dvh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.choices img{
    margin-left : 3rem;
    width: 15vh;
    height: 15vh;
    border: none;
    border-radius: 50%;
    object-fit: cover;
    border : 10px solid #BFD1E5;
}

.choices img:hover {
    cursor: pointer;
    border : 10px solid #542344;
}

.scoreboard {
    height : 15dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.score {
  margin-left : 2.5rem ;
  margin-right : 2.5rem ;
}

.msg-container {
  margin-top: 3rem;
}

#msg {
    display: inline;
    background-color: #808080;
    color: white;
    font-size : 3rem;
    border-radius: 1.5rem;
    padding : 10px;
}
