* {
    margin :0;
    padding :0;
}

header {
    margin-top: 5vh;
}
body {
    background-color: #1E1E24;
    color: white;
    text-align: center;
}

.container {
    height: 70dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height : 60dvh;
    width: 60dvh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;

}

.box {
    height: 18dvh;
    width: 18dvh;
    border-radius: 5%;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vh;
    background-color: #81AE9D;
    color: white;
}


.box:not(:disabled):hover {
    transform: scale(1.03);
}

#reset-btn {
    width: 15vh;
    padding: 1rem;
    font: 1.25rem;
    background-color: #21A179;
    color: white;
    border-radius: 5%;
    border: none;
    margin-bottom: 10vh;

}

#reset-btn:hover {
    transform: scale(1.03);
}

.msg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height : 100vh;
}
.msg {
    font-size: 5vh;
    color: #81AE9D;
    margin : 15px 0;
}

#new-btn {
    width: 15vh;
    margin : 15px 0;
   font-size: 1.25rem;
   padding: 1rem;
    background-color: #21A179;
    color: white;
   border-radius: 5%;
   border: none;
}

#new-btn:hover {
    transform: scale(1.03);
}

.hide {
    display: none;
}

.x {
    color: #81AE9D;
    background-color: #2A3B35;
}

.o {
    color: #C4AF9A;
    background-color: #3B302A;
}

